h1 {
    display: block;
    z-index: 999;
}

h2 {
    display: block;
}

h3 {
    display: block;
}

h4 {
    display: block;
}

h5 {
    display: block;
    font-family: Montserrat, sans-serif;
    color: #202020;
    font-size: 28px;
    font-weight: 400;
    line-height: 42px;
    z-index: 9999;
}

h6 {
    display: block;
    font-family: Montserrat, sans-serif;
    color: #87959c;
    font-size: 14px;
    font-weight: 400;
    line-height: 42px;
    text-transform: uppercase;
    letter-spacing: 4px;
    z-index: 999;
}

p {
    font-family: WorkSans, sans-serif;
    color: #5f5f5f;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    padding-top: 30px;
    z-index: 999;
}

body {
    overflow-x: hidden;
}


/*header and nav part start*/

#header {
    background: url(../images/header/header-back-ground.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    padding-bottom: 35px;
    padding-top: 120px;
}

#header nav {
    padding-top: 30px;
    padding-bottom: 32px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-image: url(../images/header/header-back-ground.png);
    background-position: top;
    z-index: 9999999;
}

#header nav .container {
    padding: 0;
    padding: 0px 15px;
}

#header nav .container .navbar-brand {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
    margin-right: 0;
}

#header nav .container .navbar-brand img {
    margin-right: 10px;
    box-sizing: border-box;
}

#header nav .container .navbar-collapse {
    padding: 0;
}

#header nav .container .navbar-collapse .navbar-nav .nav-item .nav-link {
    font-family: Raleway, sans-serif;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
}

#header nav .container .navbar-collapse .navbar-nav .nav-item:hover .nav-link {
    background-image: url(../images/header/nav-hover-bacground.png);
}

#header nav .container .navbar-collapse .social_icons {
    margin-left: 70px;
}

#header nav .container .navbar-collapse .social_icons ul {}

#header nav .container .navbar-collapse .social_icons ul li {
    float: left;
    margin-left: 0px;
}

#header nav .container .navbar-collapse .social_icons ul li a {
    display: block;
}

#header nav .container .navbar-collapse .social_icons ul li a i {
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
}

#header nav .container .navbar-collapse .social_icons ul li:hover a i {
    color: #C49EFD;
}

/* banner left contents*/

#header .banner-content .row .col-md-7 {
    overflow: hidden;
    padding: 30px 15px;
}

#header .banner-content .row .col-md-7 .banner-Left-Part {
    padding-top: 25px;
    padding-bottom: 30px;
}

#header .banner-content .row .col-md-7 .banner-Left-Part h1 {
    font-family: Montserrat, sans-serif;
    color: #ffffff;
    font-size: 60px;
    font-weight: 400;
    line-height: 70px;
    padding-bottom: 26px;
}

#header .banner-content .row .col-md-7 .banner-Left-Part p {
    font-family: WorkSans, sans-serif;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    padding-right: 15px;
    padding-bottom: 15%;
}

#header .banner-content .row .col-md-7 .banner-Left-Part a {
    background-color: #ffffff;
    box-shadow: 0px 6px 7px 0px rgba(87, 30, 131, 0.14);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 50px;
    font-weight: 400;
    color: #25b6c2;
    height: 50px;
    width: 230px;
    display: block;
    text-align: center;
    border-radius: 25px;
    text-transform: capitalize;
}

#header .banner-content .row .col-md-7 .banner-Left-Part a i {
    margin-left: 20px;
}

#header .banner-content .row .col-md-7 .banner-Left-Part a:hover {
    background-image: url(../images/pricing-plan/pricing-hover.png);
    background-size: 100% 100%;
    color: #fff;
}

#header .banner-content .row .col-md-5 {
    position: relative;
    padding: 30px 15px;
    display: block;
}

#header .banner-content .row .col-md-5 .iphone-img img {
    width: 76%;
    position: absolute;
    bottom: -13%;
}

/*header side menu*/

#side-menu {
    background-image: url(../images/header/header-back-ground.png);
    background-position: left top;
    background-size: auto;
    background-repeat: no-repeat;
    z-index: 99999999;
}

#side-menu .nav-link {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    padding: 8px 0;
    line-height: 20px;
    border-bottom: 1px solid #ffffff4d;
}

#side-menu ul li {
    float: left;
}

#side-menu ul li a {
    display: block;
    text-transform: uppercase;
}

#side-menu ul li a i {
    color: #fff;
    padding-right: 15px;
    margin-top: 30px;
}

/*header part end*/

/* about us part */

#aboutUs {
    background: url(../images/about-us/about-left-circle.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20%;
    padding: 100px 0px;
}

#aboutUs .container .row .col-md-5 .about-left-part {
    position: relative;
    height: 80%;
    width: 100%;
    overflow: visible;
    top: 50%;
    transform: translateY(-50%);
}

#aboutUs .container .row .col-md-5 .about-left-part .about-mobile-1 {
    width: 275px;
    height: 485px;
    position: absolute;
    top: 82px;
    left: 0;
}

#aboutUs .container .row .col-md-5 .about-left-part .about-mobile-2 {
    width: 275px;
    height: 485px;
    right: 0;
    top: -82px;
    position: absolute;
}

#aboutUs .container .row .col-md-5 .about-left-part .about-mobile-3 {
    width: 275px;
    position: absolute;
    height: 485px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

#aboutUs .container .row .col-md-5 .about-right-part {
    width: 100%;
    height: 100%;
    padding: 50px 0px;
    padding-bottom: 0px;
    ;
}

/*about us part end*/

#ourAppPart {
    background: url(../images/app-service/app-service-background-water-mark.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: right 100%;
    padding: 100px 0px;
    background-attachment: scroll;
}

#ourAppPart .container .row .col-md-9 .our-app-service-heading {
    text-align: center;
}

#ourAppPart .container .app-content .col-md-6 .app-service-left-img img {
    margin-top: 25%;
}

#ourAppPart .container .app-content .col-md-6 .row .col-6 .app-ser-icon {
    margin-top: 65px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    height: 125px;
    width: 125px;
    background: url(../images/app-service/icon-background.png);
    background-repeat: no-repeat;
    background-position: center center;
}

#ourAppPart .container .app-content .col-md-6 .row .col-6 .app-ser-icon img {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#ourAppPart .container .app-content .col-md-6 .row .col-6 .app-ser-body h6 {
    font-family: Montserrat, sans-serif;
    color: #202020;
    font-size: 18px;
    font-weight: 400;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0;
}

#ourAppPart .container .app-content .col-md-6 .row .col-6 .app-ser-body p {
    font-family: WorkSans, sans-serif;
    color: #5f5f5f;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    padding-top: 15px;
}

/*ourapp part end*/

/*our client testimonial part start*/

#clientTestimonial {
    background: url(../images/client-testimonial/client-bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 100px 0px;
}

#clientTestimonial .container .row .col-4 .client-testimonial-heading h6 {
    color: white;
}

#clientTestimonial .container .row .col-4 h5 {
    color: white;
}

#clientTestimonial .container .row .col-md-4 .client-body .client-img {
    height: 95px;
    width: 95px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid white;
    position: relative;
    left: 50%;
    transform: translate(-50%, 50%);
}

#clientTestimonial .container .row .col-md-4 .client-body .client-details {
    border-radius: 10px;
    background: white;
    padding: 25px;
    padding-top: 35px;
}

#clientTestimonial .container .row .col-md-4 .client-body .client-details p {
    font-style: italic;
    line-height: 20px;
    padding-bottom: 20px;
    position: relative;
}

#clientTestimonial .container .row .col-md-4 .client-body .client-details p:after {
    position: absolute;
    height: 2px;
    width: 70%;
    background: black;
    bottom: 0px;
}

#clientTestimonial .container .row .col-md-4 .client-body .client-details a {
    font-family: Montserrat, sans-serif;
    color: #202020;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
}

.slick-dots {
    bottom: -50px;
}

.slick-dots li.slick-active button:before {
    opacity: .75;
    color: #12d3fc;
}

.slick-dots li button:before {
    opacity: .25;
    color: #b1bac9;
}

.slick-dots li button::before {
    font-size: 15px;
}

#AppShowCasePart {
    padding: 100px 0px;
    overflow-x: hidden;
}

#AppShowCasePart .appSlider {
    position: relative;
    width: 100%;
    padding: 100px 0px;
    box-sizing: border-box;
    overflow: hidden;
    overflow-x: hidden;
}

#AppShowCasePart .appSlider .slider-frame {
    position: absolute;
    z-index: 999999;
    width: 21%;
    height: 100%;
    left: 50%;
    top: 50%;
    bottom: 0;
    transform: translateX(-50%) translateY(-50%);
    background: url(../images/app-showcase/app-showcase-frame.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#AppShowCasePart .appSlider .appImg {
    width: 13%;
    height: 330px;
    margin-left: 10px;
    margin-right: 10px;
    float: left;
}

#AppShowCasePart .appSlider .appImg img {
    width: 100%;
    height: 100%;
}

/*app show case part end*/

/*ask-question-part start*/

#ask-question {
    background: url(../images/ask-question/ask-background.png);
    background-position: bottom left;
    background-size: 65% 90%;
    background-repeat: no-repeat;
    @import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");
    padding: 100px 0px;
}

#ask-question .container .ask_left_content {
    padding: 100px 0px;
}

#ask-question .container .ask_left_content h6 {
    margin: 10px 0px;
    font-size: 14px;
    color: #202020;
    background: white;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.49);
    padding-left: 30px;
    padding-right: 30px;
    line-height: 50px;
    letter-spacing: 0px;
}

#ask-question .container .ask_left_content h6:hover {
    background: url(../images/ask-question/heading-background.jpg);
    background-size: 100%;
    color: white;
}

#ask-question .container .ask_left_content h6:focus {
    background: url(../images/ask-question/heading-background.jpg);
    background-size: 100%;
    color: white;
}

#ask-question .container .ask_left_content h6:active {
    background: url(../images/ask-question/heading-background.jpg);
    background-size: 100%;
    color: white;
    letter-spacing: 0px;
}

#ask-question .container .ask_left_content p {
    font-size: 14px;
    line-height: 30px;
    color: #5f5f5f;
    padding: 30px;
}

#ask-question .container .ask_right_content {
    background: url(../images/ask-question/ask-mobile.png);
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom center;
    padding: 90px 0px;
}

#ask-question .panel-title > a:before {
    float: right !important;
    font-family: FontAwesome;
    content: "\f068";
    padding-right: 30px;
    line-height: 50px;
    font-size: 14px;
    z-index: -999;
}

#ask-question .panel-title > a.collapsed:before {
    float: right !important;
    content: "\f067";
}

#ask-question .panel-title > a:hover,
#ask-question .panel-title > a:active,
#ask-question .panel-title > a:focus {
    text-decoration: none;
    color: white;
}

/*ask question part end*/

/*pricing plan part start*/

#pricingPlan {
    background: url(../images/pricing-plan/pricing-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: left;
    padding: 100px 0px;
}

#pricingPlan .container .row h6 {
    color: white;
}

#pricingPlan .container .row h5 {
    color: white;
}

#pricingPlan .container .row p {
    color: white;
}

#pricingPlan .container .priceRate .col-md-3 {
    margin-top: 70px;
    border: 1px solid rgba(255, 255, 255, 0.43);
    padding: 0;
    text-align: center;
}

#pricingPlan .container .priceRate .col-md-3 .pricingBody {
    padding: 60px 0px;
}

#pricingPlan .container .priceRate .col-md-3 .pricingBody h6 {
    font-size: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.43);
    line-height: 20px;
    padding-bottom: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0;
}

#pricingPlan .container .priceRate .col-md-3 .pricingBody .midpart .price {
    font-size: 40px;
    line-height: 40px;
    padding: 15px 0px;
    font-weight: bold;
}

#pricingPlan .container .priceRate .col-md-3 .pricingBody .midpart .per-month {
    font-size: 15px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.43);
    line-height: 15px;
}

#pricingPlan .container .priceRate .col-md-3 .pricingBody .p1 {
    padding-top: 61px;
    padding-bottom: 20px;
}

#pricingPlan .container .priceRate .col-md-3 .pricingBody .p2 {
    padding-bottom: 20px;
}

#pricingPlan .container .priceRate .col-md-3 .pricingBody p {
    font-size: 16px;
    padding: 0;
    line-height: 16px;
    text-transform: capitalize;
}

#pricingPlan .container .priceRate .col-md-3 .pricingBody a {
    color: white;
    display: block;
    padding: 0;
    width: 160px;
    height: 45px;
    line-height: 40px;
    font-size: 15px;
    text-align: center;
    margin-left: 50%;
    transform: translateX(-50%);
    border: 1px solid white;
    border-radius: 25px;
    text-transform: capitalize;
}

#pricingPlan .container .priceRate .col-md-3 .pricingBody:hover {
    background: white;
}

#pricingPlan .container .priceRate .col-md-3 .pricingBody:hover h6 {
    color: #5d3c86;
}

#pricingPlan .container .priceRate .col-md-3 .pricingBody:hover .p1 {
    color: #7e7e7e;
}

#pricingPlan .container .priceRate .col-md-3 .pricingBody:hover .p2 {
    color: #7e7e7e;
}

#pricingPlan .container .priceRate .col-md-3 .pricingBody:hover .midpart {
    background: url(../images/pricing-plan/pricing-hover.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
}

#pricingPlan .container .priceRate .col-md-3 .pricingBody:hover a {
    background: url(../images/pricing-plan/pricing-hover.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
}

/*pricing plan part end*/

#ourClientPart {
    padding: 100px 0px;
}

#ourClientPart .container-fluid .row .col-md-7 .row .col-md-4 {
    padding: 15px;
}

#ourClientPart .container-fluid .row .col-md-7 .row .col-md-4 .our-client {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.54);
    padding: 20px;
}

#ourClientPart .container-fluid .row .col-md-7 .row .col-md-4 .our-client img {
    margin-left: 50%;
    transform: translateX(-50%);
}

#ourClientPart .container-fluid .row .col-md-7 .row .col-md-4 .our-client h6 {
    font-size: 16px;
    line-height: 20px;
    padding-top: 30px;
    padding-bottom: 20px;
    color: black;
    letter-spacing: 0;
}

#ourClientPart .container-fluid .row .col-md-7 .row .col-md-4 .our-client p {
    font-size: 13px;
    line-height: 20px;
    padding: 0;
}

#ourClientPart .container-fluid .row .col-md-7 .row .col-md-4 .our-client p span {
    font-style: italic;
    display: block;
}

#ourClientPart .container-fluid .row .col-md-4 {
    padding-left: 4%;
}

#ourClientPart .container-fluid .row .col-md-4 h6 {
    padding-top: 30px;
}

#ourClientPart .container-fluid .row .col-md-4 a {
    margin-top: 50px;
    background-color: #ffffff;
    box-shadow: 0px 6px 7px 0px rgba(87, 30, 131, 0.14);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 50px;
    font-weight: 400;
    color: black;
    height: 50px;
    width: 230px;
    display: block;
    text-align: center;
    border-radius: 25px;
    text-transform: capitalize;
}

#ourClientPart .container-fluid .row .col-md-4 a i {
    margin-left: 20px;
}

#ourClientPart .container-fluid .row .col-md-4 a:hover {
    background: url(../images/pricing-plan/pricing-hover.png);
    background-size: 100% 100%;
    color: #fff;
}

#ourClientPart .slick-dots {
    background: #cadce6;
    width: 60%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 25px;
    height: 10px;
    line-height: 5px;
}

#ourClientPart .slick-dots li.slick-active button:before {
    opacity: .5;
    color: rgba(35, 225, 200, 0);
    background: #23e1c8;
    height: 10px;
    width: 30px;
}

#ourClientPart .slick-dots li button:before {
    opacity: 0;
    color: #b1bac9;
}

/*our client part end*/

/* contact part start*/

#contactUs {
    background-image: url(../images/contact/contact-bg.png);
    background-size: 100% 60%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    padding: 100px 0px;
}

#contactUs .container .row .col-md-12 .row .col-md-6 .contact-heading {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

#contactUs .container .row .col-md-12 .row .col-md-6 .contact-heading h6 {
    color: white;
}

#contactUs .container .row .col-md-12 .row .col-md-6 .contact-heading h5 {
    color: white;
}

#contactUs .container .row .col-md-12 .row .col-md-5 .contact-box {
    background-image: url(../images/contact/contact-form-bg.png);
    background-repeat: no-repeat;
    background-size: 108% 105%;
    padding: 55px;
    box-shadow: 0px 0px 5px rgba(90, 110, 121, 0.6);
    background-position: center center;
    border-radius: 5px;
}

#contactUs .container .row .col-md-12 .row .col-md-5 .contact-box h3 {
    font-size: 30px;
    line-height: 30px;
    color: #202020;
    padding-bottom: 55px;
    text-transform: uppercase;
    font-family: 'montserrat', sans-serif;
    font-weight: 400;
    text-align: center;
}

#contactUs .container .row .col-md-12 .row .col-md-5 .contact-box form input,
#contactUs .container .row .col-md-12 .row .col-md-5 .contact-box form textarea {
    width: 100%;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #d7e4ed;
    color: #5a6e79;
    font-family: 'worksans', sans-serif;
    font-size: 16px;
    padding: 5px 10px;
    margin-bottom: 30px;
}

#contactUs .container .row .col-md-12 .row .col-md-5 .contact-box form textarea {
    height: 35px;
    resize: none;
}

#contactUs .container .row .col-md-12 .row .col-md-5 .contact-box form .row a {
    color: #5a6e79;
    display: block;
    padding: 0;
    width: 160px;
    height: 45px;
    line-height: 45px;
    font-size: 15px;
    text-align: center;
    margin-left: 50%;
    transform: translateX(-50%);
    border-radius: 25px;
    text-transform: capitalize;
    box-shadow: 0px 0px 5px rgba(90, 110, 121, 0.6);
    text-transform: uppercase;
}

#contactUs .container .row .col-md-12 .row .col-md-5 .contact-box form .row a:hover {
    background: url(../images/pricing-plan/pricing-hover.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    color: #ffffff;
    text-transform: uppercase;
}

#contactUs .container .row .col-md-12 .row .col-md-5 .contact-box form .row .formP1,
#contactUs .container .row .col-md-12 .row .col-md-5 .contact-box form .row .formP2 {
    padding: 0;
    font-size: 14px;
    line-height: 14px;
    padding-bottom: 5px;
    color: #5a6e79;
    font-family: 'worksans', sans-serif;
    font-weight: 400;
}

#contactUs .container .row .col-md-12 .row .col-md-5 .contact-box form .row .formP1 {
    font-size: 14px;
    line-height: 14px;
}

#contactUs .container .row .col-md-12 .row .col-md-5 .contact-box form .row .formP2 {
    font-size: 16px;
    line-height: 16px;
    color: #6559dd;
}

/* contact part end*/

/*footer part start*/

#footer {
    padding: 50px 0px;
    display: block;

}

#footer .container .col-md-8 .footer-logo {
    padding-bottom: 22px;
}

#footer .container .col-md-8 .footer-logo .logo {
    margin-right: 10px;
}

#footer .container .col-md-8 .footer-logo a {
    color: #3d3d3d;
    font-size: 16px;
    line-height: 20px;
}

#footer .container .col-md-8 .row {
    padding-bottom: 15px;
}

#footer .container .col-md-8 .row p {
    font-size: 16px;
    color: #171717;
    line-height: 20px;
}

#footer .container .col-md-8 .row p i {
    color: #0bd7fc;
}

#footer .container .col-md-8 p {
    color: rgba(83, 83, 83, 0.61);
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    padding: 0;
}

#footer .container .col-md-8 p span {
    color: #171717;
    font-size: 16px;
}

.memphis-parallax {
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 100%;
}

.memphis-parallax li:nth-child(0) {
    position: absolute;
    top: 25%;
    left: 30%;
}

.memphis-parallax li:nth-child(1) {
    position: absolute;
    top: 20%;
    left: 40%;
}

.memphis-parallax li:nth-child(2) {
    position: absolute;
    top: 30%;
    left: 40%;
}

.memphis-parallax li:nth-child(3) {
    position: absolute;
    top: 40%;
    left: 40%;
}

.memphis-parallax li:nth-child(4) {
    position: absolute;
    top: 50%;
    left: 40%;
}

.memphis-parallax li:nth-child(5) {
    position: absolute;
    top: 60%;
    left: 0%;
}


/*footer part end*/

/*
*
*
*
*
*
*
*/
