#myBtn {
    display: visible;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgba(172, 152, 152, 0.62);
    color: #344341;
    cursor: pointer;
    height: 40px;
    width: 40px;
    border-radius: 4px;
    font-size: 20px;
}

#myBtn:hover {
    background-color: #555;
    color: white;
}

/*top to bottom css*/


